{% extends './basic.html' %}

{% load static %}

{% block title %}{{ artist }}{% endblock title %}

{% block content %}

<div>
  <div class="text-center">
    {% if artist.country %}
    <img class="rounded" src="{% get_static_prefix %}main/bands/{{ artist.slug }}.jpg"
    style="width: 300px;" alt="{{ artist }}" title="{{ artist }}">
    {% endif %}
  </div>
  <div>
    <h3 class="text-center">
      {{ artist }}
      {% if artist.country %}
        ({{ artist.country }})
      {% endif %}
    </h3>
  </div>
  
  <div class="row justify-content-center mt-4">
    {% for album in artist.item_set.all %}
    <div class="col-md-4 d-flex">
        <div class="card flex-fill mb-3" style="width: 300px;">
            <a href="{% url 'main:item_detail' album.pk album.slug %}" class="stretched-link">
                <img class="card-img-top" src="{% get_static_prefix %}main/covers/{{ album.pk }}.jpg"
                alt="{{ album.artists.all|join:', ' }} — {{ album }}"
                title="{{ album.artists.all|join:', ' }} — {{ album }}">
            </a>
            <div class="card-body bg-light pb-1">
                <div class="card-title text-center bg-light">
                    <h6>
                      {{ album }} ({{ album.year }}, {{ album.get_labels}})
                    </h6>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>
      К сожалению, релизов данного исполнителя в продаже пока нет.
    </p>
    {% endfor %}
  </div>
</div>
 
{% endblock content %}