{% extends 'main/basic.html' %}

{% load static %}

{% block title %}{{ album }}{% endblock title %}

{% block content %}

    <div>
        <div>
            <img src="{% get_static_prefix %}main/covers/{{ album.pk }}.jpg"
            style="width: 300px;" alt="{{ album.artists.all|join:', ' }} — {{ album }}"
            title="{{ album.artists.all|join:', ' }} — {{ album }}">
        </div>
        <div>
            <h6>
                {{ album.artists.all|join:', ' }} — {{ album }} ({{ album.year }}, {{ album.labels }})
            </h6>
        </div>
    </div>

    <div class="p-2">
        {{ album.price }}
    </div>
    <div>
        <label for="select">
            Кол-во
        </label>
        <select id="select">
            {% for i in album.get_quantity %}
                <option value="{{ i }}">
                    {{ i }}
                </option>
            {% endfor %}
        </select>
        <button type="button" id="add-button" value="{{ album.id }}" class="btn btn-secondary btn-sm">
            В корзину
        </button>
    </div>

    <script>
        $(document).on('click', '#add-button', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '#',
                data: {
                    item_id: $('#add-button').val(),
                    item_quantity: $('#select option:selected').text(),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById("basket-quantity").innerHTML = json.quantity
                },
                error: function (xhr, errmsg, err) {}
            });
        })
    </script>

{% endblock content %}