{% extends 'main/basic.html' %}

{% load static %}

{% block title %}{{ album }}{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row pt-4 pl-3">
        <div class="col-md-4 d-flex">
            <div class="card flex-fill" style="width: 300px;">
                <img class="card-img-top" src="{% get_static_prefix %}main/covers/{{ album.pk }}.jpg"
                alt="{{ album.artists.all|join:', ' }} — {{ album }}" title="{{ album.artists.all|join:', ' }} — {{ album }}">
                <div class="card-body">
                    <div class="card-title">
                        <h6 class="text-center">
                            {{ album.artists.all|join:', ' }} — {{ album }} ({{ album.year }}, {{ album.get_labels }})
                        </h6>
                    </div>
                    <div class="d-flex justify-content-around p-2">
                        <div class="font-weight-bold">
                            &#8381;{{ album.price }}
                        </div>
                        <div class="font-weight-bold">
                            <label for="select">
                                Кол-во:
                            </label>
                            <select id="select" class="mb-1">
                                {% for i in album.get_quantity %}
                                    <option value="{{ i }}">
                                        {{ i }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" id="add-button" value="{{ album.id }}" class="btn btn-secondary btn-sm">
                            В корзину
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

    <script>
        $(document).on('click', '#add-button', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "basket:basket_add" %}',
                data: {
                    item_id: $('#add-button').val(),
                    item_quantity: $('#select option:selected').text(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById("basket-quantity").innerHTML = json.quantity
                },
                error: function (xhr, errmsg, err) {}
            });
        })
    </script>

{% endblock content %}