body {
    margin: 0;
  }

header {
    background-color: black;
    position: relative;
    width: 100%;
}

.root {
    font-size: larger;
}

.rotated {
    position: relative;
    transform: rotate(-90deg) translateX(-28vw) translateY(2vw);
    transform-origin: bottom left;
}

.responsive-font {
    font-size: 1.5vw;
}

label, select {
    display: inline-block;
    vertical-align: middle;
}